# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*.so
*~
*.cm[tiaox]
*.cmti
*.cmxa
*.cmxs
*.orig
*.prof
*.rej
*.output
*.tex
*.hva
*.out
*.rslide
/lex/ocamllex.opt
/_build
/asmcomp/arch.ml
/asmcomp/emit.ml
/asmcomp/proc.ml
/asmcomp/reload.ml
/asmcomp/scheduling.ml
/asmcomp/selection.ml
/asmrun/alloc.c
/asmrun/array.c
/asmrun/callback.c
/asmrun/compact.c
/asmrun/compare.c
/asmrun/custom.c
/asmrun/debugger.c
/asmrun/dynlink.c
/asmrun/extern.c
/asmrun/finalise.c
/asmrun/floats.c
/asmrun/freelist.c
/asmrun/gc_ctrl.c
/asmrun/globroots.c
/asmrun/hash.c
/asmrun/intern.c
/asmrun/ints.c
/asmrun/io.c
/asmrun/lexing.c
/asmrun/main.c
/asmrun/major_gc.c
/asmrun/md5.c
/asmrun/memory.c
/asmrun/meta.c
/asmrun/minor_gc.c
/asmrun/misc.c
/asmrun/obj.c
/asmrun/parsing.c
/asmrun/printexc.c
/asmrun/signals.c
/asmrun/sobj.c
/asmrun/str.c
/asmrun/sys.c
/asmrun/terminfo.c
/asmrun/ty.c
/asmrun/unix.c
/asmrun/weak.c
/boot/Saved
/boot/camlheader
/boot/myocamlbuild
/boot/ocamlrun
/boot/ocamlyacc
/build/ocamlbuild_mixed_mode
/bytecomp/opcodes.ml
/bytecomp/runtimedef.ml
/byterun/jumptbl.h
/byterun/jumptbl.h
/byterun/ld.conf
/byterun/ld.conf
/byterun/ocamlrun
/byterun/ocamlrund
/byterun/opnames.h
/byterun/primitives
/byterun/primitives
/byterun/prims.c
/byterun/prims.c
/byterun/version.h
/byterun/version.h
/config/Makefile
/config/Makefile
/config/config.sh
/config/m.h
/config/m.h
/config/s.h
/config/s.h
/debugger/dynlink.ml
/debugger/dynlink.mli
/debugger/lexer.ml
/debugger/ocamldebug
/debugger/parser.ml
/debugger/parser.mli
/expunge
/lex/lexer.ml
/lex/ocamllex
/lex/parser.ml
/lex/parser.mli
/myocamlbuild_config.ml
/ocaml
/ocamlbuild-mixed-boot
/ocamlc
/ocamlc.opt
/ocamlcomp.sh
/ocamlcompopt.sh
/ocamldoc/ocamldoc
/ocamldoc/ocamldoc.opt
/ocamldoc/odoc_lexer.ml
/ocamldoc/odoc_ocamlhtml.ml
/ocamldoc/odoc_parser.ml
/ocamldoc/odoc_parser.mli
/ocamldoc/odoc_parser.output
/ocamldoc/odoc_see_lexer.ml
/ocamldoc/odoc_text_lexer.ml
/ocamldoc/odoc_text_parser.ml
/ocamldoc/odoc_text_parser.mli
/ocamldoc/odoc_text_parser.output
/ocamldoc/stdlib_man/
/ocamlopt
/ocamlopt.opt
/otherlibs/dynlink/extract_crc
/otherlibs/systhreads/thread.ml
/otherlibs/threads/marshal.mli
/otherlibs/threads/pervasives.mli
/otherlibs/threads/unix.mli
/parsing/lexer.ml
/parsing/linenum.ml
/parsing/parser.ml
/parsing/parser.mli
/stdlib/caml
/stdlib/camlheader
/stdlib/camlheaderd
/stdlib/camlheader_ur
/stdlib/sys.ml
/testsuite/tests/**/*.native
/testsuite/tests/**/*.byte
/testsuite/tests/**/*.result
/testsuite/tests/**/program
/testsuite/tests/*/*/program
/tools/addlabels
/tools/cvt_emit
/tools/cvt_emit.bak
/tools/cvt_emit.ml
/tools/dumpobj
/tools/lexer301.ml
/tools/myocamlbuild_config.ml
/tools/ocamlcp
/tools/ocamloptp
/tools/ocamldep
/tools/ocamldep.bak
/tools/ocamldep.opt
/tools/ocamlmklib
/tools/ocamlmklib.ml
/tools/ocamlmktop
/tools/ocamlprof
/tools/objinfo
/tools/objinfo_helper
/tools/opnames.ml
/tools/read_cmt
/tools/read_cmt.opt
/tools/scrapelabels
/utils/config.ml
/yacc/ocamlyacc
/yacc/version.h
/myocaml*
win32caml
ocamlbuild/manual